<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Boston Startup School about the sample app:
  <%= mail_to("ssivakami@alum.mit.edu", name = "Siv", html_options = {})%>
  <%= mail_to("bejar37@gmail.com", name = "Miguel", html_options = {})%>
</p>