<footer class="footer">
  <small>
    <a href="http://bostonstartupschool.com/">Boston Startup School</a>
    Meals App by Siv and Miguel
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="bostonstartupschool.com">News</a></li>
    </ul>
  </nav>
</footer>